table {
	border: 5px solid red;
	empty-cells: show;
}

td {
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	background: orange;
}

th {
	background-color: rgb(45, 43, 43);
	color: white;
}